<p id="notice"><%= notice %></p>
<h1 align="center"><%= "Category: " + @category.name %></h1>
<div align="center">
    <div class="row">
      <span class="badge"><%= link_to "Edit Category Name", edit_category_path(@category) %></span>
    </div>

  <%= will_paginate @category_books %>
</div>
<%= render 'books/book', obj: @category_books %>


